In [1]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandasql) (1.22.4)
Requirement already satisfied: pandas in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandasql) (1.4.2)
Requirement already satisfied: sqlalchemy in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandasql) (1.4.37)
Requirement already satisfied: pytz>=2020.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas->pandasql) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: greenlet!=0.4.17 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from sqlalchemy->pandasql) (1.1.2)
Requirement already satisfied: six>=1.5 in /home/gitpod/.pyenv/versions/3.8.13/lib/python3.8/site-packages (from python-dateutil>=2.8.1->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26768 sha256=aaf59e63fb3478f4337dde48ed1375df1fa5cdec13e04062874e75d6a6f64541
  Stored in directory: /home/gitpod/.cache/pip/wheels/ed/8f/46/a383923333728744f01ba24adbd8e364f2cb9470a8b8e5b9ff
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3
WARNING: There was an error checking the latest version of pip.

In [2]:
import pandas as pd
from pandasql import sqldf
df = pd.read_csv("https://covid.ourworldindata.org/data/owid-covid-data.csv")

In [3]:
sqldf("select * from df limit 10")

,iso_code,continent,location,date,total_cases,new_cases,new_cases_smoothed,total_deaths,new_deaths,new_deaths_smoothed,...,female_smokers,male_smokers,handwashing_facilities,hospital_beds_per_thousand,life_expectancy,human_development_index,excess_mortality_cumulative_absolute,excess_mortality_cumulative,excess_mortality,excess_mortality_cumulative_per_million
0,AFG,Asia,Afghanistan,2020-02-24,5.0,5.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
1,AFG,Asia,Afghanistan,2020-02-25,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
2,AFG,Asia,Afghanistan,2020-02-26,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
3,AFG,Asia,Afghanistan,2020-02-27,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
4,AFG,Asia,Afghanistan,2020-02-28,5.0,0.0,NaN,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
5,AFG,Asia,Afghanistan,2020-02-29,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
6,AFG,Asia,Afghanistan,2020-03-01,5.0,0.0,0.714,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
7,AFG,Asia,Afghanistan,2020-03-02,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
8,AFG,Asia,Afghanistan,2020-03-03,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None
9,AFG,Asia,Afghanistan,2020-03-04,5.0,0.0,0.000,None,None,None,...,None,None,37.746,0.5,64.83,0.511,None,None,None,None